{{#extend "layout"}}
	
	{{#content "head" mode="append"}}
		<link rel="stylesheet" href="/src/signin.css" />
	{{/content}}

	{{#content "body"}}

		{{#if flashMessage}}
		<div class="alert alert-dismissible alert-danger warning">
		  <button type="button" class="close" data-dismiss="alert" onclick="document.getElementsByClassName('alert-danger')[0].style.display = 'none';">&times;</button>
		  {{{flashMessage}}}
		</div>
		{{/if}}

		<form class="form-signin" method="post" action="/sign_in">
			<h2 class="form-signin-heading">Please sign in</h2>

			<label for="inputEmail" class="sr-only">Email address</label>
			<!-- <input maxlength="30" value="stan.coder@gmail.com" type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
			<input maxlength="30" value="stan.coder@gmail.com" type="text" name="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input maxlength="100" value="12" type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

			<label for="inputPasswordConfirm" class="sr-only">Password</label>
			<input maxlength="100" value="122313123" type="password" name="passwordConfirm" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirm" required>

			<input value="{{csrfToken}}" name="csrfToken" type="hidden">

			<div class="checkbox">
				<label>
					<input name="rememberMe" type="checkbox" value="true"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>

	{{/content}}
{{/extend}}
