<!doctype html>
<html lang="en-us">
<head>
    {{#block "head"}}
        <title>{{title}}</title>
 
        <link rel="stylesheet" href="/src/bootstrap.min.css" />
        <link rel="stylesheet" href="/src/custom.css" />
    {{/block}}
</head>
<body>

    <div class="container mt30">

        <!-- Navigation above -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Overview</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/add_user">Add user</a></li>
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/sign_in">Sign In</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Body html -->
        {{#block "body"}}{{/block}} 
    </div>
</body>
</html>