<!doctype html>
<html lang="en-us">
<head>
    {{#block "head"}}
        <title>{{title}}</title>
 
        <link rel="stylesheet" href="/src/bootstrap.min.css" />
    {{/block}}
</head>
<body>
    <div class="site">
        {{#block "body"}}{{/block}} 
    </div>
</body>
</html>