{{#extend "layout"}}
 
    {{#content "body"}}
        <h2>Welcome Home</h2>
 
        <ul>
            {{#items}}
                <li>{{.}}</li>
            {{/items}}
        </ul>
    {{/content}}
 
{{/extend}}